<div class="container register-form">
    <div class="form">
      <div class="header">
          <p>Profile</p>
      </div>
      <div class="form-content" *ngIf="user">
        <form [formGroup]="profileUserForm" (ngSubmit)="editProfile()">
          <div class="row">
            <div class="col-md-6 mb-4">
              
  
              
              <div class="form-group" >
                <small class="form-text">
                  Full name
                </small>
                <input  type="text" class="form-control" placeholder="Full name *" formControlName="displayName"
                        [ngClass]="{
                          'invalidField':(!profileUserForm.get('displayName').valid) || (validatedForm && !profileUserForm.get('displayName').valid)
                        }"
                />
                <small *ngIf="!profileUserForm.get('displayName').valid && validatedForm" [ngStyle]="{'color':'#dc3545'}" class="form-text">
                  Required field
                </small>
              </div>
              
  
              <div *ngIf="userUpdated" class="form-control-feeback mb-2 text-success text-center">
                  user updated successfully
              </div>
              <div *ngIf="errorUpdate" class="form-control-feeback mb-2 text-danger text-center">
                  Error updating information, try again later
              </div>
              
  
              <button type="submit"
                      class="btnSubmit">
                      Edit Profile
              </button>
            </div>
            <div class="col-md-6">
              <div class="ml-5">
                
                <p> Email : {{user.email}}</p>
                <p> Full name: {{user.displayName}}</p>
                <p> Authentication Method: {{user.providerData[0].providerId}} </p>
                <p> UID User: {{user.providerData[0].uid}} </p>
                <p *ngIf="user.emailVerified"> Verified Email : Yes</p>
                <p *ngIf="!user.emailVerified"> Verified Email : No</p>
                <p> Creation Date: {{user.metadata.creationTime | date:'medium'}}</p>
                <p> Last SignIn : {{user.metadata.lastSignInTime | date:'medium'}}</p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="verifiedUser">
        <div class="form-content">
          <div class="form-group d-flex justify-content-center row">
            <label *ngIf="!emailSend" class="col-12  text-center col-form-label">
              Please verify your Account
            </label>
            <label *ngIf="emailSend" class="col-12  text-center col-form-label">
              An e-mail was sent to your email address that you provided, there you can verify your email.
            </label>
            <label *ngIf="errorEmailSend" class="col-12 text-danger text-center col-form-label">
                an error occurred with the server when checking your email, try again later
            </label>
            <div class="col-4">
                <button *ngIf="!emailSend" type="submit" (click)="emailToVerifySent()" class="btnSubmit">Send verification email</button>
                <button *ngIf="emailSend" type="button" (click)="goToHome()" class="btnSubmit">Go to Home</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  